{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "AllowsListCreatedInstances",
            "Effect": "Allow",
            "Action": [
                {% if is_vpn_operator -%}
                "ec2:CreateNetworkInterface",
                "ec2:DescribeNetworkInterfaces",
                "ec2:DetachNetworkInterface",
                "ec2:DeleteNetworkInterface",
                "ec2:AttachNetworkInterface",
                "ec2:DescribeSubnets",
                "ec2:DescribeSecurityGroups",
                "ec2:DescribeAddresses",
                "ec2:AssociateAddresses",
                {%- endif -%}
                
                "ec2:RegisterImage",
                "ec2:CreateImage",
                "ec2:GetConsoleOutput",
                "ec2:DescribeInstances",
                "ec2:DescribeInstanceStatus",
                "ec2:DescribeInstanceAttribute"
            ],
            "Resource": "*",
            "Condition": {
                "IpAddress": {
                    "aws:SourceIp": "{{ my_cidr }}"
                }
            }
        },
        {
            "Sid": "AllowsPredefinedImagesAndNetworking",
            "Effect": "Allow",
            "Action": "ec2:RunInstances",
            "Resource": [
                "arn:aws:ec2:*::image/{{ image_id }}",
                "arn:aws:ec2:*:*:key-pair/{{ key_id }}",

                {%- for group in sg_ids -%}
                "arn:aws:ec2:*:*:security-group/{{ group }}",
                {%- endfor -%}
                
                "arn:aws:ec2:*:*:subnet/{{ subnet_id }}",
                "arn:aws:ec2:*:*:network-interface/*"
            ]
        },
        {
            "Sid": "AllowsMinimalGeneralPurposeSSDVolume",
            "Effect": "Allow",
            "Action": "ec2:RunInstances",
            "Resource": "arn:aws:ec2:*:*:volume/*",
            "Condition": {
                "NumericEquals": {
                    "ec2:VolumeSize": "{{ volume_size }}"
                },
                "StringEquals": {
                    "ec2:VolumeType": "gp2"
                }
            }
        },
        {
            "Sid": "AllowsFreeTierIntanceTypeInPredefinedRegion",
            "Effect": "Allow",
            "Action": "ec2:RunInstances",
            "Resource": "arn:aws:ec2:*:*:instance/*",
            "Condition": {
                "StringEquals": {
                    "ec2:InstanceType": "t2.micro",
                    "ec2:Region": "{{ inst_region }}",
                },
                "IpAddress": {
                    "aws:SourceIp": "{{ my_cidr }}"
                }
            }
        }
    ]
}