
# Created by https://www.gitignore.io/api/ssh,ansible,visualstudiocode
# Edit at https://www.gitignore.io/?templates=ssh,ansible,visualstudiocode

### Custom Application Ignored Files ###
**/group_vars/*.yml
**/keys/**/*.json

instances/keys/
instances/.controls/
instances/.vars/

instances/ansible/keys/
instances/ansible/vars/
instances/ansible/*/hosts

### Environment ###
*.env

### Ansible ###
*.retry

### SSH ###
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/ssh,ansible,visualstudiocode
