DOCKER_ANS_MANAGER_KEYS_VOLUME=/manager_keys
DOCKER_ANS_DEPLOYER_KEYS_VOLUME=/deployer_keys

DOCKER_ANS_VARS_VOLUME=/vars
DOCKER_ANS_ANSIBLE_VOLUME=/ansible

DOCKER_ANS_SIM_DEPLOYER_CONFIG=aws.json

# Used internally for operational stuff
ANSIBLE_LOCKPATH=/var/run/ans_ctrl
ANSIBLE_LOCKFILE=lock
ANSIBLE_FIRST_TIME_LOCKFILE=.first_time

ANSIBLE_FORCE_FIRST_TIME=false